<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.look.mapper.LikesMapper">

    <resultMap id="BaseResultMap" type="com.zh.look.bean.Likes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="reviewId" column="review_id" jdbcType="INTEGER"/>
            <result property="patientId" column="patient_id" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,review_id,patient_id,
        created_at
    </sql>
</mapper>
